.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: aliceblue;
  opacity: 80%;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navhome link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
    justify-content: center;
  }
}
