html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: #f0f8ff;
  background-image: url(../public/images/background.jpg);
}

* {
  box-sizing: border-box;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

/* p {
  background-color: blue;
  font: white;
} */
/** Testing changes from globals.css on multi-page elements- changed the colour but not text
*Guessing the text didn't change because of style rules from utils/module css
 */
